HOST_DB=
PORT_DB=
NAME_DB=
USER_DB=
PASS_DB=

GEOCODE_URL=
GEOCODE_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASS=

IMG_UPLOAD_DIR=

JWT_SECRET=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME= 
